merakidemo.json
[{"id":"c7cddcab.ad2a2","type":"tab","label":"Meraki Proxy and Apps","disabled":false,"info":""},{"id":"cf20e2de.a92f68","type":"tab","label":"Location API","disabled":false,"info":"# Meraki Location Scanning API \n\nThis flow demonstrates the basic mechanics of\nthe Scanning API web service. It will provide\ntwo API endpoints to interact with the Meraki API.\n\n`[get] /scanning`\nResponds to Meraki with the `validator` to \nvalidate the receiver.\n\n`[post] /scanning`\nReceives observation data from a Meraki AP. \nThe data is compared against the `secret` to\nvalidate the sender.\n\nA **link** node is then used to demonstrate how the\ndata can be analyzed and routed. \n\nIt is now up to you to do something awesome with\nthis information. Add a map, database or IoT\ncontrol...\n\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n"},{"id":"904ddcf3.6f361","type":"tab","label":"Captive Portal","disabled":false,"info":"# Meraki External Captive Portal (ExCap)\n\nThis flow demonstrates the mechanics of working\nwith the Meraki Captive Portal API. \n\nThere are two \"Splash Page\" types with Meraki, \n**Click-through** and **Sign on**.\n\nThere are two flows to highlight the differences\nbut they may share common assets, such as a ToS.\n\n# Overview\n\n## Click-through\nThe click-through splash page simply expects\nto receive a request from Meraki which includes\nthe parameters of the authenticating client. It\nwill then parse the parameters, present a splash\npage and eventually redirect the client to \nthe `base_grant_url` once the form is submitted\n\n`[get] /excapClick`\nThe path Meraki will use as the **Custom Splash \nURL**\nThe client will see the splash page, which is \nprovided by the **HTML (template)** node.\n\n`[post] /excapClickLogin`\nThe URL that will be the web form's \"Action\".\nIt will then send the user form data to the flow\nand redirect the client to the `base_grant_url`.\n\n\n## Sign On\n\n`[get] /excapSignOn`\nThe path Meraki will use as the **Custom Splash\nURL**\nThe client will see the splash page, which is \nprovided by the **HTML (template)** node.\nThe form will include a Meraki provided `login_url`, which will\nbe set as the \"Action\" on the web form.\n\n`[post] /excapSuccess`\nThis path Meraki will use as the continue_url\nfor the client once they have succesfully logged\nin. Use this to have a final interaction with the\nclient.\n\n\n# Usage\n\nLogin to Meraki Dashboard and configure the \ncustom Splash Page URL to one of these methods.\n* http://yourserver:1880/excapClick\n* http://yourserver:1880/excapSignOn\n\nIf using Sign On, you must also configure WiFi \nUser accounts that are authorized for the SSID.\n\n# More Info\n\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n\n"},{"id":"58088b93.72d20c","type":"tab","label":"Dashboard API - Admin Form","disabled":false,"info":"# Dashboard API - Admin Form\nA flow to create and administrator for a\nMeraki network. \n\n## Configure\n* Update the Environment Variables node\n**Env Variables: UPDATE THIS**\n\nYour API KEY (Keep this secret. Do not publish)\n```\nconst API_KEY = 'YourAPIKey'; \n```\n\nYour Shard number. https://n149.meraki.com , \nwhere n149 represent the shard number. \nYou can see this URL when you login to your Meraki Dashboard.\nThis is defined to avoid redirect issues.\n```\nvar shard = 'n149'; \n```\nYour Default Organization ID (optional)\n```\nvar orgId = ''; \n```\n\n# Usage\n\n`[get /meraki/admins]`\nPresents the web form.\n\nNavigate to\n* http://localhost:1880/meraki/admins\n\n\n# Verify\nIf the user was created properly, the web page\nwill display the committed details. You can\nverify the account in the Meraki Dashboard\n\n# More Info\n\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n\n\n\n\n\n\n\n\nThis flow can be adjusted to\nleaverage the many other API endpoints available.\n"},{"id":"64b489a9.d87f58","type":"tab","label":"Cisco Spark","disabled":false,"info":"# Cisco Spark API Demo\nCollects data from **input** nodes and sends it\nto a Spark room.\n\n# Configure\nUpdate the **function** node \"Spark Send Message (API) - UPDATE\"\n* Set Your Variables\n**Your Access Token**\n```\nvar accessToken = \"EnterYourAccessTokenHere\";\n```\n**Your Room ID**\n```\nvar roomId = \"EnterYourRoomIDHere\";\n```\n\n# Usage\nThe link nodes from other flows can be sent to \nthe \"Cisco Spark\" **link in* node. As messages\narrive, they will be sent to the Spark room. The\nmessages will typically be formatted before sending\nto adjust for the Spark message room layout.\n\n# More Info\n\nLearn about getting an accessToken and using their \nonline API console to obtain the roomId.\nhttps://developer.ciscospark.com/\n\nhttps://developer.ciscospark.com/"},{"id":"2c750593.98b0d2","type":"inject","z":"c7cddcab.ad2a2","name":"Sets Defaults - Injected at start","topic":"","payload":"Setting Environment Variables","payloadType":"str","repeat":"","crontab":"","once":true,"x":190,"y":80,"wires":[["29373167.4d8f36"]]},{"id":"33f208af.5d493","type":"function","z":"c7cddcab.ad2a2","name":"Set Environment Variables: UPDATE THIS","func":"//  ###### User Defined Variables ######\n\n// Meraki Base URL. the `n149` represent the shard number. This is defined to avoid redirect issues.\nconst BASE_URL = \"https://n149.meraki.com/api/v0/\"; \n\nconst API_KEY = msg.apikey; // from credentials node to keep secret\n\n\n\n// ###### Set Flow Context variables ######\n\nflow.set('apiKey', API_KEY); // pulling API key via \"secret\" node. This avoides publishing the API key when sharing the flow\nflow.set('baseUrl', BASE_URL);\n\n\nmsg.payload = \"Meraki API Environment Set\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["d06fd888.1ec598"]]},{"id":"d06fd888.1ec598","type":"debug","z":"c7cddcab.ad2a2","name":"Flow Env Variables","active":true,"console":"false","complete":"true","x":870,"y":120,"wires":[]},{"id":"c5be6a8c.61c19","type":"comment","z":"c7cddcab.ad2a2","name":"API Key and Environment variables: UPDATE THE NODE!","info":"","x":230,"y":40,"wires":[]},{"id":"29373167.4d8f36","type":"credentials","z":"c7cddcab.ad2a2","name":"API KEY - UPDATE THIS","props":[{"value":"apikey","type":"msg"}],"x":490,"y":80,"wires":[["33f208af.5d493"]]},{"id":"cf27c246.83f54","type":"http in","z":"c7cddcab.ad2a2","name":"","url":"/meraki/proxy/:endpoint(*)","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["71d1257e.411eb4","6cb71ee2.d71868"]]},{"id":"71d1257e.411eb4","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki [get] request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":260,"wires":[]},{"id":"d917d25b.4455e","type":"http response","z":"c7cddcab.ad2a2","name":"","statusCode":"","headers":{},"x":930,"y":220,"wires":[]},{"id":"27fafca2.b8df9c","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki [post] request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":240,"y":340,"wires":[]},{"id":"9d93c84b.021528","type":"http response","z":"c7cddcab.ad2a2","name":"","statusCode":"","headers":{},"x":930,"y":300,"wires":[]},{"id":"e6e5aee8.b016f8","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [post]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":340,"wires":[]},{"id":"e755df85.06c7c","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [get]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":260,"wires":[]},{"id":"6cb71ee2.d71868","type":"function","z":"c7cddcab.ad2a2","name":"Meraki API Options","func":"// Set Variables\nvar apiKey = flow.get('apiKey');\nvar baseUrl = flow.get('baseUrl');\nvar endpoint = msg.req.params.endpoint\nvar query = msg.req.query;\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": msg.req.headers[\"x-cisco-meraki-api-key\"] || apiKey\n};\nmsg.url = baseUrl + endpoint;\n\nif (query){\n    \n    var queryString = \"\"\n    Object.getOwnPropertyNames(query).forEach(\n      function (val, idx, array) {\n        queryString += (val + '=' + query[val]);\n        if (idx < array.length - 1){\n            queryString += \"&\";\n        }\n      }\n    );\n    msg.url = msg.url +\"?\" + queryString;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["c4bf5dd1.2e84f8","66a8929d.8e52cc"]]},{"id":"c4bf5dd1.2e84f8","type":"http request","z":"c7cddcab.ad2a2","name":"[get] request","method":"GET","ret":"obj","url":"","tls":"","x":710,"y":220,"wires":[["d917d25b.4455e","e755df85.06c7c"]]},{"id":"e8570b71.13f488","type":"http request","z":"c7cddcab.ad2a2","name":"[post] request","method":"POST","ret":"obj","url":"","tls":"","x":720,"y":300,"wires":[["9d93c84b.021528","e6e5aee8.b016f8"]]},{"id":"cc6bf5b.7a71188","type":"function","z":"c7cddcab.ad2a2","name":"Meraki API Options","func":"// Set Variables\nvar apiKey = flow.get('apiKey');\nvar baseUrl = flow.get('baseUrl');\nvar endpoint = msg.req.params.endpoint\nvar query = msg.req.query;\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": msg.req.headers[\"x-cisco-meraki-api-key\"] || apiKey\n};\nmsg.url = baseUrl + endpoint;\n\nif (query){\n    \n    var queryString = \"\"\n    Object.getOwnPropertyNames(query).forEach(\n      function (val, idx, array) {\n        queryString += (val + '=' + query[val]);\n        if (idx < array.length - 1){\n            queryString += \"&\";\n        }\n      }\n    );\n    msg.url = msg.url +\"?\" + queryString;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["e8570b71.13f488","2c300dce.aae962"]]},{"id":"7cdb8107.c8c708","type":"http in","z":"c7cddcab.ad2a2","name":"","url":"/meraki/proxy/:endpoint(*)","method":"post","upload":false,"swaggerDoc":"","x":190,"y":300,"wires":[["27fafca2.b8df9c","cc6bf5b.7a71188"]]},{"id":"dacfaa4b.deeee","type":"http in","z":"c7cddcab.ad2a2","name":"","url":"/meraki/proxy/:endpoint(*)","method":"put","upload":false,"swaggerDoc":"","x":190,"y":380,"wires":[["de178948.d8abf","217d0197.f09a5e"]]},{"id":"de178948.d8abf","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki [put] request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":240,"y":420,"wires":[]},{"id":"217d0197.f09a5e","type":"function","z":"c7cddcab.ad2a2","name":"Meraki API Options","func":"// Set Variables\nvar apiKey = flow.get('apiKey');\nvar baseUrl = flow.get('baseUrl');\nvar endpoint = msg.req.params.endpoint\nvar query = msg.req.query;\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": msg.req.headers[\"x-cisco-meraki-api-key\"] || apiKey\n};\nmsg.url = baseUrl + endpoint;\n\nif (query){\n    \n    var queryString = \"\"\n    Object.getOwnPropertyNames(query).forEach(\n      function (val, idx, array) {\n        queryString += (val + '=' + query[val]);\n        if (idx < array.length - 1){\n            queryString += \"&\";\n        }\n      }\n    );\n    msg.url = msg.url +\"?\" + queryString;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["dd8c3396.e4a1c8","16903965.4838df"]]},{"id":"dd8c3396.e4a1c8","type":"http request","z":"c7cddcab.ad2a2","name":"[put] request","method":"PUT","ret":"obj","url":"","tls":"","x":710,"y":380,"wires":[["8817a852.dd918","e012e5db.408d4"]]},{"id":"8817a852.dd918","type":"http response","z":"c7cddcab.ad2a2","name":"","statusCode":"","headers":{},"x":930,"y":380,"wires":[]},{"id":"e012e5db.408d4","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [put]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":420,"wires":[]},{"id":"6e2939b6.32375","type":"http in","z":"c7cddcab.ad2a2","name":"","url":"/meraki/proxy/:endpoint(*)","method":"delete","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["c40449c7.c2bc48","f1e64710.329b2"]]},{"id":"c40449c7.c2bc48","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki [delete] request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":240,"y":500,"wires":[]},{"id":"f1e64710.329b2","type":"function","z":"c7cddcab.ad2a2","name":"Meraki API Options","func":"// Set Variables\nvar apiKey = flow.get('apiKey');\nvar baseUrl = flow.get('baseUrl');\nvar endpoint = msg.req.params.endpoint\nvar query = msg.req.query;\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": msg.req.headers[\"x-cisco-meraki-api-key\"] || apiKey\n};\nmsg.url = baseUrl + endpoint;\n\nif (query){\n    \n    var queryString = \"\"\n    Object.getOwnPropertyNames(query).forEach(\n      function (val, idx, array) {\n        queryString += (val + '=' + query[val]);\n        if (idx < array.length - 1){\n            queryString += \"&\";\n        }\n      }\n    );\n    msg.url = msg.url +\"?\" + queryString;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["87ae7a3d.13379","d2a43092.29b898"]]},{"id":"87ae7a3d.13379","type":"http request","z":"c7cddcab.ad2a2","name":"[delete] request","method":"DELETE","ret":"obj","url":"","tls":"","x":720,"y":460,"wires":[["1e3458ab.57a497","38bb1201.b5c6ce"]]},{"id":"1e3458ab.57a497","type":"http response","z":"c7cddcab.ad2a2","name":"","statusCode":"","headers":{},"x":930,"y":460,"wires":[]},{"id":"38bb1201.b5c6ce","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [delete]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":500,"wires":[]},{"id":"66a8929d.8e52cc","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [get] options","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":260,"wires":[]},{"id":"2c300dce.aae962","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [post] options","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":340,"wires":[]},{"id":"16903965.4838df","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [put] options","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":420,"wires":[]},{"id":"d2a43092.29b898","type":"debug","z":"c7cddcab.ad2a2","name":"Meraki API [delete] options","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":500,"wires":[]},{"id":"dde1b48c.b87f9","type":"http in","z":"c7cddcab.ad2a2","name":"","url":"/meraki/ui/admins","method":"get","upload":false,"swaggerDoc":"","x":160,"y":680,"wires":[["1807d5cf.2e8c6a"]]},{"id":"bfa7d2dd.8ee498","type":"template","z":"c7cddcab.ad2a2","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=email], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 50%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv form {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.adminform {\n    width: 90%;\n}\n","x":530,"y":680,"wires":[["9c5fba5a.44482"]]},{"id":"1807d5cf.2e8c6a","type":"template","z":"c7cddcab.ad2a2","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n$(document).ready(function(e) {\n    \n    \n    $.ajax({\n        url: '/meraki/proxy/organizations',\n        type: 'get',\n        datatype: 'json',\n        success: function(data){\n            var toAppend = '';\n            //if(typeof data === 'object'){\n                for(var i=0;i<data.length;i++){\n                    toAppend += '<option value='+data[i][\"id\"]+'>'+data[i]['name']+'</option>';\n                }\n            //}\n            console.log(\"orgs toAppend\",toAppend);\n            $('#orgs').append(toAppend);\n        }\n    });\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        //var form_url = $(this).attr(\"action\");\n        //var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        var orgId = $(\"#orgs\").val();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: \"/meraki/proxy/organizations/\"+orgId+\"/admins\",  //form_url+\"/\"+orgId, \n            type: \"post\",       \n            data: form_data,     \n            cache: false,\n            success: function(data){\n                \n                // Create simple HTML response\n                var response = \n                    \"<div>\"+\n                        \"<h2>Created Admin!</h2>\"+\n                        \"<h4>Name</h4><p>\"+data.name+\"</p>\"+\n                        \"<h4>E-Mail</h4><p>\"+data.email+\"</p>\"+\n                        \"<h4>ID</h4><p>\"+data.id+\"</p>\"+\n                        \"<h4>Tags</h4><p>\"+data.tags+\"</p>\"+\n                        \"<h4>Org Access</h4><p>\"+data.orgAccess+\"</p>\"+\n                    \"</div>\";\n                \n                console.log(\"response: \"+JSON.stringify(data));\n                \n                \n                $(\"#result\").html(response); \n                \n                $(\"#loadingimg\").hide();\n                $( '#createadmin' ).each(function(){\n                    this.reset();\n                });\n            },\n            error: function(error){\n                $(\"#result\").html(error.responseText);\n            }\n        });    \n        \n    });\n    \n});","x":370,"y":680,"wires":[["bfa7d2dd.8ee498"]]},{"id":"c5cfe4a7.1ef2e8","type":"comment","z":"c7cddcab.ad2a2","name":"Create Admin Form","info":"","x":130,"y":640,"wires":[]},{"id":"d661157f.f1c2b8","type":"http response","z":"c7cddcab.ad2a2","name":"","x":930,"y":680,"wires":[]},{"id":"9c5fba5a.44482","type":"template","z":"c7cddcab.ad2a2","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Meraki Dasbhoard API - Admin User</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <!--\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    -->\n    <script\n      src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n      integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n      crossorigin=\"anonymous\"></script>\n      \n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">  \n    <script>{{{payload.jquery}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div class=\"container\">\n    <h2>Create a Meraki Dashboard Administrator</h2>\n    <h4><a href=\"http://developers.meraki.com\">Meraki Developers Portal</a></h4>\n\n<div class=\"col-md-6\">\n<div class=\"adminform\">\n  <form id=\"createadmin\" ajax=\"true\">\n    <select id=\"orgs\" name=\"orgs\">\n        <option>Select Organization..</option>\n    </select>\n    <label>Contact Details</label>\n    <input type=\"text\" id=\"name\" name=\"name\" placeholder=\"Name\" required=true/>\n    <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"E-mail\" required=true/>\n    <br>\n\n    <label>Organization Permissions</label>\n    <select id=\"orgAccess\" name=\"orgAccess\" placeholder=\"Org Access\">\n      <option value=\"full\">full</option>\n      <option value=\"read-only\">read-only</option>\n    </select>\n    \n  \n    <input type=\"submit\" class=\"button\" value=\"Submit\">\n  </form>\n</div>\n</div>\n\n<div class=\"col-md-6\">\n    <span id=\"result\"></span>\n</div>\n</div>\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":670,"y":680,"wires":[["d661157f.f1c2b8"]]},{"id":"68388ae.4fc5bf4","type":"comment","z":"c7cddcab.ad2a2","name":"Sample Web Apps","info":"","x":110,"y":580,"wires":[]},{"id":"95bbb07b.c7abd","type":"comment","z":"c7cddcab.ad2a2","name":"API Proxy Endpoints","info":"Use these endpoints instead of requesting Meraki APIs directly.\n\nThe API key will be defined in the Environment Defaults flow\n\nExample:\n```\nhttp://merakidemo.internetoflego.com:1880/meraki/proxy/organizations\n\nhttp://merakidemo.internetoflego.com:1880/meraki/proxy/organizations/{{organizationId}}/admins\n```\n\n","x":110,"y":180,"wires":[]},{"id":"922a15f9.66aa6","type":"debug","z":"cf20e2de.a92f68","name":"scanning Data","active":true,"console":"false","complete":"true","x":620,"y":260,"wires":[]},{"id":"967e320e.24dcb","type":"http in","z":"cf20e2de.a92f68","name":"","url":"/scanning","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["21b9823.09de07e","78001128.b1fb5"]]},{"id":"21b9823.09de07e","type":"function","z":"cf20e2de.a92f68","name":"validate-validator - UPDATE","func":"\n//Set the validator variable to match the Meraki network\n//The URL will not need to include the validator string, for enhanced security\n//~~~~~~~~~\nvalidator = \"yourValidatorKey\";\n\n// For testing purposes:\n// This validator accepts a message with the validator defined in the URL\n// Example: http://yourserver:1880/cmx?validator=8e0846499d9a3f6d23f7bogusd55b9d6325035f5\n\n//~~~~~~~~~\n//validator = msg.payload.validator;\n\n\nmsg.payload = validator;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["659d7973.a231f","1d6439b7.498bae"]]},{"id":"659d7973.a231f","type":"http response","z":"cf20e2de.a92f68","name":"scanning response","statusCode":"","headers":{},"x":610,"y":120,"wires":[]},{"id":"78001128.b1fb5","type":"debug","z":"cf20e2de.a92f68","name":"scanning validator raw","active":true,"console":"false","complete":"payload","x":340,"y":160,"wires":[]},{"id":"473f4972.9bcac8","type":"comment","z":"cf20e2de.a92f68","name":"Location API core mechanics","info":"CMX/Location API core functions","x":140,"y":80,"wires":[]},{"id":"1d6439b7.498bae","type":"debug","z":"cf20e2de.a92f68","name":"scanning Validator","active":true,"console":"false","complete":"payload","x":610,"y":160,"wires":[]},{"id":"9cb026f3.65a18","type":"function","z":"cf20e2de.a92f68","name":"validate-secret - UPDATE","func":"// This node verifies that the secrect configured\n// on the Meraki Dashboard Network, matches.\n//var secret = \"merakilous\"; \nvar secret = \"supersecret\";\n\nif(msg.payload.secret == secret){\n    return msg;\n}else{\n    // Secret is invalid\n    \n}\n\n","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["922a15f9.66aa6","3ba23c84.37a33c","12277923.6fc5cf"]]},{"id":"5ce20d0b.835af4","type":"debug","z":"cf20e2de.a92f68","name":"scanning post","active":false,"console":"false","complete":"payload","x":320,"y":260,"wires":[]},{"id":"3ba23c84.37a33c","type":"http response","z":"cf20e2de.a92f68","name":"cmx response","x":600,"y":220,"wires":[]},{"id":"543cd8fb.4a236","type":"comment","z":"cf20e2de.a92f68","name":"Meraki Location API - Using Native Nodes -- README","info":"This flow demonstrates how to interact with the\nMeraki CMX (Scanning) Location API.\n\n# Be sure to update the validator and secret\n\nThe \"CMX core functions\" consist of two REST endpoints.\nThe 'get' enpoint waits to hear from Meraki,\nwhich will send a request to this server. The flow will \nthen respond with the \"validator\", which was defined in \nthe Meraki Dashboard. If the correct validator is returned, \nMeraki has confirmed that it is sending location data to \nthe correct server.\n\nThe second enpoint accepts 'post' requests, which will\nbe receiving the JSON structured location data from Meraki.\n\nOnce the data has arrived in the `msg.payload`, the results\nwill be stored in a local MongoDB database if the supplied secret\nmatches what's defined in the global variables. This is to ensure\nthat it is in fact Meraki sending this data. \n\nThe data can then be retrieved by opening the other 'get' endpoints, such \nas /showcmxNative.\n\n","x":461,"y":27,"wires":[]},{"id":"543ff54b.b26e54","type":"debug","z":"904ddcf3.6f361","name":"excapSignOn raw data","active":true,"console":"false","complete":"payload","x":200,"y":480,"wires":[]},{"id":"7dd40692.a7c308","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapSignOn","method":"get","swaggerDoc":"","x":150,"y":440,"wires":[["543ff54b.b26e54","1176eeee.113631"]]},{"id":"81999b61.f08ea","type":"http response","z":"904ddcf3.6f361","name":"","x":770,"y":160,"wires":[]},{"id":"b53c48ca.273ac8","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapClick","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["d18393bb.b396e","78763109.115a68"]]},{"id":"8660ecb9.563de8","type":"http response","z":"904ddcf3.6f361","name":"","x":770,"y":480,"wires":[]},{"id":"3baa7c3a.e148fc","type":"template","z":"904ddcf3.6f361","name":"HTML Login Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Registration Form</title>\n\n</head>\n<body>\n\n    \n\n\n    <div class=\"main-content\">\n    <form class=\"form-register\" method=POST action={{payload.login_url}} />\n        <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n        <input type=\"hidden\" name=\"host\" value ={{host}}>\n        <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n        <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n        <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n        <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n        <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n        <input type=\"hidden\" name=\"success_url\" value={{payload.continue_url}} />\n\n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Password</span>\n                            <input type=\"password\" name=\"password\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>","x":570,"y":480,"wires":[["8660ecb9.563de8"]]},{"id":"d18393bb.b396e","type":"function","z":"904ddcf3.6f361","name":"Set login_url","func":"msg.payload.login_url = msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["6fc81721.9971f8"]]},{"id":"78763109.115a68","type":"debug","z":"904ddcf3.6f361","name":"excapClick raw data","active":true,"console":"false","complete":"payload","x":200,"y":160,"wires":[]},{"id":"8b6768f.6f11298","type":"comment","z":"904ddcf3.6f361","name":"Meraki Click-through, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapClick\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\nThe HTML page can be modified as needed. \n","x":173,"y":79,"wires":[]},{"id":"f32aecd.6df9b1","type":"comment","z":"904ddcf3.6f361","name":"Meraki Sign-on, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapSignOn\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\n","x":159,"y":396,"wires":[]},{"id":"cbe1be71.c2c6f","type":"template","z":"904ddcf3.6f361","name":"HTML Splash Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n\t<meta charset=\"utf-8\">\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n\t<title>Registration Form</title>\n\n</head>\n<body>\n\n\t\n\n\n    <div class=\"main-content\">\n\n        <form class=\"form-register\" method=POST action=\"/excapClickLogin\">\n                <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n                <input type=\"hidden\" name=\"host\" value ={{host}}>\n                <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n                <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n                <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n                <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n                <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n            \n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Name</span>\n                            <input type=\"text\" name=\"name\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>\n\n","x":570,"y":160,"wires":[["81999b61.f08ea"]]},{"id":"1bd124cb.e2742b","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapClickLogin","method":"post","swaggerDoc":"","x":160,"y":220,"wires":[["7eb4bf5.ccc744","4b97bad5.4eded4","8d45aef5.90d5c8"]]},{"id":"7eb4bf5.ccc744","type":"function","z":"904ddcf3.6f361","name":"Process login with 302 redirect","func":"// check if client has connected properly and received response from AP\nif (msg.payload.base_grant_url){\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url\n      //add other headers here...\n    };\n}else{\n    // error: send client back to login\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': '/excapNotConnected'\n      //add other headers here...\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["58a3309c.05019","e3fa7829.e8c76"]]},{"id":"58a3309c.05019","type":"http response","z":"904ddcf3.6f361","name":"","x":770,"y":220,"wires":[]},{"id":"4b97bad5.4eded4","type":"debug","z":"904ddcf3.6f361","name":"excapClick Login data","active":true,"console":"false","complete":"payload","x":200,"y":260,"wires":[]},{"id":"bb854502.b44ef","type":"comment","z":"904ddcf3.6f361","name":"Store form data - read more...","info":"The login data now can be sent somehwere to be \nlogged. A link node is attached to easily use\nthis data in other parts of the flow.","x":500,"y":260,"wires":[]},{"id":"754d6ee2.7d2028","type":"comment","z":"904ddcf3.6f361","name":"Terms and Conditions","info":"","x":144,"y":750,"wires":[]},{"id":"3a569f4e.bee8d","type":"comment","z":"904ddcf3.6f361","name":"Success","info":"","x":106,"y":538,"wires":[]},{"id":"5210c5c7.4e0014","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapTerms","method":"get","swaggerDoc":"","x":150,"y":800,"wires":[["16130951.4130af"]]},{"id":"b9b8897a.21c43","type":"http response","z":"904ddcf3.6f361","name":"","x":790,"y":840,"wires":[]},{"id":"85478c81.0aefb8","type":"template","z":"904ddcf3.6f361","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Terms and Conditions</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Terms and Conditions</h1>\n    <ul>\n        <li>Please use our network responsibly. </li>\n        <li>Your computer's MAC and IP address will be logged.</li>\n    </ul>\n    </div>\n</body>\n\n\n","x":600,"y":840,"wires":[["b9b8897a.21c43"]]},{"id":"fc1f46c7.ec4cb","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapSuccess","method":"get","swaggerDoc":"","x":150,"y":580,"wires":[["b33751b8.cd25f"]]},{"id":"35d4a2bc.76494e","type":"http response","z":"904ddcf3.6f361","name":"","x":790,"y":620,"wires":[]},{"id":"a355c250.6fa6e","type":"template","z":"904ddcf3.6f361","name":"HTML Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>Success!</title>\n{{{payload.css}}}\n</head>\n<body>\n    <div class=\"container\">\n    <center><h1>Success!</h1>\n    <h2>You can now use the network.</h2>\n    </center>\n    </div>\n</body>\n\n\n","x":560,"y":620,"wires":[["35d4a2bc.76494e"]]},{"id":"cd4c3cd5.3543b8","type":"comment","z":"904ddcf3.6f361","name":"Error: Not connected to AP","info":"","x":160,"y":873,"wires":[]},{"id":"d1b49931.f3de58","type":"http in","z":"904ddcf3.6f361","name":"","url":"/excapNotConnected","method":"get","swaggerDoc":"","x":170,"y":920,"wires":[["4edb16a0.723778"]]},{"id":"5a500ce7.9966b4","type":"http response","z":"904ddcf3.6f361","name":"","x":790,"y":960,"wires":[]},{"id":"f2c0ee92.472678","type":"template","z":"904ddcf3.6f361","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Error: Not Connected</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Error: Not Connected</h1>\n    <p>\n        Hmm, somethings not right. It appears you\n        are not connected to the correct wireless network.\n    </p>\n    </div>\n</body>\n\n\n","x":600,"y":960,"wires":[["5a500ce7.9966b4"]]},{"id":"2da63021.bf2af","type":"comment","z":"904ddcf3.6f361","name":"Cisco Meraki ExCap Service","info":"More information about the Meraki ExCap API:\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\n\nEnjoy!\n\nWritten by Cory Guynn, 2015.\nConsulting Engineer @ https://meraki.cisco.com/\nTechnical Blogger @ http://www.InternetOfLego.com","x":438.5,"y":31,"wires":[]},{"id":"6fc81721.9971f8","type":"template","z":"904ddcf3.6f361","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":540,"y":120,"wires":[["cbe1be71.c2c6f"]]},{"id":"1176eeee.113631","type":"template","z":"904ddcf3.6f361","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":540,"y":440,"wires":[["3baa7c3a.e148fc"]]},{"id":"b33751b8.cd25f","type":"template","z":"904ddcf3.6f361","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":580,"wires":[["a355c250.6fa6e"]]},{"id":"16130951.4130af","type":"template","z":"904ddcf3.6f361","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":800,"wires":[["85478c81.0aefb8"]]},{"id":"4edb16a0.723778","type":"template","z":"904ddcf3.6f361","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":920,"wires":[["f2c0ee92.472678"]]},{"id":"810cc5fd.ffbfb","type":"comment","z":"904ddcf3.6f361","name":"Supporting Pages","info":"","x":95,"y":689,"wires":[]},{"id":"e3fa7829.e8c76","type":"debug","z":"904ddcf3.6f361","name":"Process Login","active":true,"console":"false","complete":"payload","x":740,"y":260,"wires":[]},{"id":"656a6dbe.bacd54","type":"inject","z":"58088b93.72d20c","name":"Create Admin","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["1bf7b724.43cec9"]]},{"id":"53d792a2.b66c2c","type":"http request","z":"58088b93.72d20c","name":"","method":"use","ret":"obj","url":"","tls":"","x":810,"y":500,"wires":[["4fb1fcce.d50ecc","99eede09.682d58","7fd6737a.aa85fc"]]},{"id":"4fb1fcce.d50ecc","type":"debug","z":"58088b93.72d20c","name":"Create Meraki Admin","active":true,"console":"false","complete":"payload","x":800,"y":560,"wires":[]},{"id":"8bc084b.32a4678","type":"http in","z":"58088b93.72d20c","name":"","url":"/meraki/admins","method":"get","swaggerDoc":"","x":110,"y":220,"wires":[["4033216c.57a9c"]]},{"id":"4033216c.57a9c","type":"function","z":"58088b93.72d20c","name":"msg.url = \"/meraki/newAdmin\";","func":"msg.url = \"/meraki/newAdmin\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["99dc2f66.201dc8"]]},{"id":"95d50848.cbc428","type":"template","z":"58088b93.72d20c","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=email], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 50%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv form {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.adminform {\n    width: 90%;\n}\n","x":370,"y":300,"wires":[["b9d243c1.3b73e8"]]},{"id":"99dc2f66.201dc8","type":"template","z":"58088b93.72d20c","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n$(document).ready(function(e) {\n    \n    \n    $.ajax({\n        url: 'api/organizations',\n        type: 'get',\n        datatype: 'json',\n        success: function(data){\n            var toAppend = '';\n            //if(typeof data === 'object'){\n                for(var i=0;i<data.length;i++){\n                    toAppend += '<option value='+data[i][\"id\"]+'>'+data[i]['name']+'</option>';\n                }\n            //}\n            console.log(\"orgs toAppend\",toAppend);\n            $('#orgs').append(toAppend);\n        }\n    });\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        var orgId = $(\"#orgs\").val();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url+\"/\"+orgId, \n            type: form_method,       \n            data: form_data,     \n            cache: false,\n            success: function(data){\n                \n                // Create simple HTML response\n                var response = \n                    \"<div>\"+\n                        \"<h2>Created Admin!</h2>\"+\n                        \"<h4>Name</h4><p>\"+data.name+\"</p>\"+\n                        \"<h4>E-Mail</h4><p>\"+data.email+\"</p>\"+\n                        \"<h4>ID</h4><p>\"+data.id+\"</p>\"+\n                        \"<h4>Tags</h4><p>\"+data.tags+\"</p>\"+\n                        \"<h4>Org Access</h4><p>\"+data.orgAccess+\"</p>\"+\n                    \"</div>\";\n                \n                console.log(\"response: \"+JSON.stringify(data));\n                \n                \n                $(\"#result\").html(response); \n                \n                $(\"#loadingimg\").hide();\n                $( '#createadmin' ).each(function(){\n                    this.reset();\n                });\n            },\n            error: function(error){\n                $(\"#result\").html(error.responseText);\n            }\n        });    \n        \n    });\n    \n});","x":390,"y":260,"wires":[["95d50848.cbc428"]]},{"id":"f236f83d.7466","type":"comment","z":"58088b93.72d20c","name":"Create Admin Form","info":"","x":110,"y":140,"wires":[]},{"id":"26f51130.9b3156","type":"comment","z":"58088b93.72d20c","name":"Form Submission URL","info":"","x":420,"y":180,"wires":[]},{"id":"575729af.64d36","type":"http response","z":"58088b93.72d20c","name":"","x":710,"y":220,"wires":[]},{"id":"b9d243c1.3b73e8","type":"template","z":"58088b93.72d20c","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Meraki Dasbhoard API - Admin User</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <!--\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    -->\n    <script\n      src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n      integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n      crossorigin=\"anonymous\"></script>\n      \n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">  \n    <script>{{{payload.jquery}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div class=\"container\">\n    <h2>Create a Meraki Dashboard Administrator</h2>\n    <h4><a href=\"http://developers.meraki.com\">Meraki Developers Portal</a></h4>\n\n<div class=\"col-md-6\">\n<div class=\"adminform\">\n  <form id=\"createadmin\" method=\"post\" action=\"{{url}}\" ajax=\"true\">\n    <select id=\"orgs\" name=\"orgs\">\n        <option>Select Organization..</option>\n    </select>\n    <label>Contact Details</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"First Name\" required=true/>\n    <input type=\"text\" id=\"lname\" name=\"lastname\" placeholder=\"Last Name\" required=true/>\n    <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"E-mail\" required=true/>\n    <br>\n\n    <label>Organization Permissions</label>\n    <select id=\"orgAccess\" name=\"orgAccess\" placeholder=\"Org Access\">\n      <option value=\"full\">full</option>\n      <option value=\"read-only\">read-only</option>\n    </select>\n    \n  \n    <input type=\"submit\" class=\"button\" value=\"Submit\">\n  </form>\n</div>\n</div>\n\n<div class=\"col-md-6\">\n    <span id=\"result\"></span>\n</div>\n</div>\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":370,"y":340,"wires":[["575729af.64d36"]]},{"id":"1bf7b724.43cec9","type":"function","z":"58088b93.72d20c","name":"Sample Data","func":"msg.payload = {\n    \"name\": \"NodeRED Test\",\n    \"email\": \"cory@internetoflego.com\",\n    \"orgAccess\": \"full\"\n };\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["a37012.a45e7ff"]]},{"id":"452e50d5.8f2ad8","type":"http in","z":"58088b93.72d20c","name":"","url":"/meraki/newAdmin/:orgId","method":"post","swaggerDoc":"","x":170,"y":500,"wires":[["f74700e3.4ca19"]]},{"id":"99eede09.682d58","type":"http response","z":"58088b93.72d20c","name":"","x":990,"y":500,"wires":[]},{"id":"f74700e3.4ca19","type":"function","z":"58088b93.72d20c","name":"form data","func":"// Convert form data into Meraki API expected JSON\nmsg.orgId = msg.req.params.orgId;\nmsg.payload = {\n    name: msg.req.body.firstname + \" \" + msg.req.body.lastname,\n    email: msg.req.body.email,\n    orgAccess: msg.req.body.orgAccess\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["5ab2d7ef.1d8468","a37012.a45e7ff"]]},{"id":"5ab2d7ef.1d8468","type":"debug","z":"58088b93.72d20c","name":"newAdmin Form Data","active":true,"console":"false","complete":"payload","x":296.5555725097656,"y":558.6666631698608,"wires":[]},{"id":"f5fb8d86.644f08","type":"comment","z":"58088b93.72d20c","name":"Meraki Dashboard API Sample App","info":"Create a Meraki Dasbhoard Admin with a form.\n\nTo open the web form, navigate to \n\nhttp://yourserver:1880/meraki/admins\n","x":459,"y":24.000003814697266,"wires":[]},{"id":"b08da4f8.3661e","type":"inject","z":"58088b93.72d20c","name":"List Organizations","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":660,"wires":[["f5173a3b.17a9d8"]]},{"id":"f5173a3b.17a9d8","type":"function","z":"58088b93.72d20c","name":"Meraki API - List Organizations","func":"// Set Variables\nvar apiKey = global.get('apiKey');\n\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": apiKey\n};\n\nmsg.url = \"https://dashboard.meraki.com/api/v0/organizations\";\nmsg.method = 'get';\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["bb63db2c.c6e71"]]},{"id":"bb63db2c.c6e71","type":"http request","z":"58088b93.72d20c","name":"","method":"use","ret":"txt","url":"","tls":"","x":670,"y":660,"wires":[["ff970cc4.4201a8"]]},{"id":"3200bad4.72e6e6","type":"http in","z":"58088b93.72d20c","name":"","url":"/meraki/api/organizations","method":"get","swaggerDoc":"","x":160,"y":700,"wires":[["f5173a3b.17a9d8"]]},{"id":"ff970cc4.4201a8","type":"function","z":"58088b93.72d20c","name":"Large Int Helper","func":"// Convert the org number to a string so that it does not become corrupted \n// when the JSON conversion happens.   \nmsg.payload = msg.payload.replace(/\"id\":(.*?)(?:,)/g,\"\\\"id\\\"\\:\\\"$1\\\"\\,\");\nconsole.log(\"new json with regex replace \",msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":860,"y":660,"wires":[["66e9d91b.394a48"]]},{"id":"66e9d91b.394a48","type":"json","z":"58088b93.72d20c","name":"","x":830,"y":700,"wires":[["48f36081.5beae8","6591c9c0.e3baa"]]},{"id":"48f36081.5beae8","type":"http response","z":"58088b93.72d20c","name":"","x":1030,"y":700,"wires":[]},{"id":"6591c9c0.e3baa","type":"debug","z":"58088b93.72d20c","name":"List Orgs JSON","active":true,"console":"false","complete":"payload","x":1000,"y":740,"wires":[]},{"id":"5bf4def3.29a9b","type":"inject","z":"58088b93.72d20c","name":"Sets Defaults - Injected at start","topic":"","payload":"Setting Environment Variables","payloadType":"str","repeat":"","crontab":"","once":true,"x":170,"y":60,"wires":[["d628fc2e.bcf51"]]},{"id":"d628fc2e.bcf51","type":"function","z":"58088b93.72d20c","name":"Env Variables: UPDATE THIS","func":"//  ###### User Defined Variables ######\n\nconst API_KEY = 'YourAPIkey'; //Your API KEY (Keep this secret. Do not publish)\nvar shard = 'n###'; // https://n149.meraki.com , where n149 represent the shard number. This is defined to avoid redirect issues.\nvar orgId = 'YourOrgId'; // Your default Organization ID\n\n\n\n\n\n// ###### Set and Get Global variables ######\n\n\n// Assign to Global Context \nglobal.set('apiKey', API_KEY); // pulling API key via \"secret\" node. This avoides publishing the API key when sharing the flow\nglobal.set('shard', shard);\n\nglobal.set('orgId', orgId);\n\n\nmsg.payload = \"settings set\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["f32d9ed0.c65a58"]]},{"id":"f32d9ed0.c65a58","type":"debug","z":"58088b93.72d20c","name":"Flow Env Variables","active":true,"console":"false","complete":"true","x":750,"y":60,"wires":[]},{"id":"a37012.a45e7ff","type":"function","z":"58088b93.72d20c","name":"Meraki API - Create Admin","func":"// Set Variables\nvar apiKey = global.get('apiKey');\nvar shard = global.get('shard');\n//var orgId = global.get('orgId'); // set via global variables\nvar orgId = msg.orgId; //set via request parameter\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": apiKey\n};\nmsg.url = \"https://\"+shard+\".meraki.com/api/v0/organizations/\"+orgId+\"/admins\";\nmsg.method = 'post';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["53d792a2.b66c2c"]]},{"id":"a3296855.60d5f8","type":"comment","z":"58088b93.72d20c","name":"APIs","info":"","x":70,"y":400,"wires":[]},{"id":"8d45aef5.90d5c8","type":"link out","z":"904ddcf3.6f361","name":"excapClick Login","links":["bc43f620.69aed8","b039d778.2f5f9"],"x":395,"y":300,"wires":[]},{"id":"1e7de609.8627f2","type":"http request","z":"64b489a9.d87f58","name":"","method":"use","ret":"txt","url":"","tls":"","x":530,"y":140,"wires":[["a00dcf37.7d8a6"]]},{"id":"14482890.621507","type":"function","z":"64b489a9.d87f58","name":"Spark Send Message (API) - UPDATE","func":"// ******************\n// Set Your Variables\n// ******************\nvar accessToken = \"EnterYourAccessTokenHere\"; // Your Access Token\nvar roomId = \"EnterYourRoomIDHere\"; // Your Room ID\n\n// -- -- -- -- -- --\n// Build API Call\nmsg.url = \"https://api.ciscospark.com/v1/messages\";\nmsg.headers = { \n    'content-type': 'application/json',\n    'authorization': 'Bearer '+ accessToken \n};\nmsg.payload ={ \n    roomId: roomId,\n    markdown: msg.payload \n}\nmsg.method = \"post\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["1e7de609.8627f2"]]},{"id":"f72abb42.6e0fe","type":"inject","z":"64b489a9.d87f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["8ab006ca.e075d"]]},{"id":"a00dcf37.7d8a6","type":"debug","z":"64b489a9.d87f58","name":"Spark Message","active":true,"console":"false","complete":"true","x":740,"y":140,"wires":[]},{"id":"49eac489.66b774","type":"link in","z":"64b489a9.d87f58","name":"","links":["4901ac2f.beb524"],"x":255,"y":480,"wires":[["39f0c9cc.ff896e"]]},{"id":"ce7adaf4.952d38","type":"comment","z":"64b489a9.d87f58","name":"Cisco Spark API Examples - README","info":"These sample flows simply take the results from\nthe linked sample flows, formats them and sends a message\nto a Cisco Spark room.\n\nUpdate the Spark API function with your `roomID`\nand your `accessToken`. These can be found on \nthe developers portal for Cisco Spark.\n\nThe `accessToken` can be found in the portal by\nclicking on your profile icon in the top right.\nCopy this token into the function variable.\n\nExample Token\n`ZGJjNzI0ODAtNmEwNS00YjU3LTkzOTYtMjthisisbogushmOWI3M2IyZGI4NzctZDVh`\n\n*API to List Rooms*\nhttps://developer.ciscospark.com/endpoint-rooms-get.html\n- you will get your roomId by running this call\nusing their \"Test Mode\", which will run the command\nand the resulting JSON will appear with the \nid, name, etc. Copy the `id` value into the function variable.\n`\n{\n\t\t\t\"id\": \"Y2lzY29zcGFyazovL3VzL1JPT00vNWExMjhhNTAtNTExZi0xMWU3LTk2NTctYjMzNWEyNmMzYmVj\",\n\t\t\t\"title\": \"Node-RED Testing Sandbox\",\n\t\t\t\"type\": \"group\",\n\t\t\t\"isLocked\": false,\n\t\t\t\"lastActivity\": \"2017-06-14T20:21:09.726Z\",\n\t\t\t\"creatorId\": \"Y2lzY29zcGFyazovL3VzL1BFT1BMRS80ZjY4OWNhZS1mYjNlLTRjNDEtODM3OC1hYmY1Mjc2Y2RmMzQ\",\n\t\t\t\"created\": \"2017-06-14T16:34:35.509Z\"\n\t\t}\n`\n\n*API to Send a Message*\nhttps://developer.ciscospark.com/endpoint-messages-post.html\n","x":430,"y":40,"wires":[]},{"id":"c9f7d189.c1b92","type":"comment","z":"64b489a9.d87f58","name":"Captive Portal Login Notification","info":"","x":150,"y":280,"wires":[]},{"id":"7fd6737a.aa85fc","type":"link out","z":"58088b93.72d20c","name":"Create Meraki Admin","links":["effd5bdf.b180a"],"x":955,"y":540,"wires":[]},{"id":"effd5bdf.b180a","type":"link in","z":"64b489a9.d87f58","name":"","links":["7fd6737a.aa85fc"],"x":255,"y":400,"wires":[["30f3c0e2.f8a2d8","e4e385da.13ffc8"]]},{"id":"30f3c0e2.f8a2d8","type":"function","z":"64b489a9.d87f58","name":"Format Message","func":"var admin = msg.payload;\n\nmsg.payload = \"## New Admin Created! \\n\" +\n    admin.name + \" \" + admin.email + \"   **Access**: \"+admin.orgAccess;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["900a9bc5.1c83b8"]]},{"id":"b039d778.2f5f9","type":"link in","z":"64b489a9.d87f58","name":"","links":["8d45aef5.90d5c8"],"x":255,"y":320,"wires":[["6edfb3da.8ef03c"]]},{"id":"6edfb3da.8ef03c","type":"function","z":"64b489a9.d87f58","name":"Format Message","func":"\nvar client = msg.payload;\n\nmsg.payload = \"## New WiFi Client Joined! \\n\" +\n    client.name + \" \" + client.email;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["b2a4fd42.350ce"]]},{"id":"829987e5.80cf18","type":"comment","z":"64b489a9.d87f58","name":"Test Timestamp","info":"","x":100,"y":200,"wires":[]},{"id":"1e70190b.72575f","type":"comment","z":"64b489a9.d87f58","name":"Dashboard API Admin Creation","info":"","x":150,"y":360,"wires":[]},{"id":"abcb5530.1f5a5","type":"comment","z":"64b489a9.d87f58","name":"Location API Notification","info":"","x":130,"y":440,"wires":[]},{"id":"12277923.6fc5cf","type":"link out","z":"cf20e2de.a92f68","name":"Location API All Data","links":["19075e6e.68f35a"],"x":555,"y":300,"wires":[]},{"id":"ceed197b.00d9b8","type":"comment","z":"cf20e2de.a92f68","name":"Workflow Example","info":"","x":110,"y":360,"wires":[]},{"id":"2d9e600e.d3b3d","type":"debug","z":"cf20e2de.a92f68","name":"WiFi Device","active":true,"console":"false","complete":"true","x":610,"y":440,"wires":[]},{"id":"3b9d1d48.bb71fa","type":"http in","z":"cf20e2de.a92f68","name":"","url":"/scanning","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["9cb026f3.65a18","5ce20d0b.835af4"]]},{"id":"19075e6e.68f35a","type":"link in","z":"cf20e2de.a92f68","name":"","links":["12277923.6fc5cf"],"x":55,"y":440,"wires":[["3b7e6105.530bfe"]]},{"id":"4901ac2f.beb524","type":"link out","z":"cf20e2de.a92f68","name":"BLE Location API","links":["49eac489.66b774","ed2bc82d.2a41c8"],"x":555,"y":480,"wires":[]},{"id":"8a42b87a.8adfd8","type":"function","z":"cf20e2de.a92f68","name":"WiFi Split observations","func":"// send individual observation items to next node\nvar data = msg.payload.data;\n\nfor (i = 0; i < data.observations.length; i++) { \n    msg.payload = data.observations[i];\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["2d9e600e.d3b3d","cd1f8c8a.cc5ce"]]},{"id":"3b7e6105.530bfe","type":"switch","z":"cf20e2de.a92f68","name":"WiFi or BLE","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"DevicesSeen","vt":"str"},{"t":"eq","v":"BluetoothDevicesSeen","vt":"str"}],"checkall":"true","outputs":2,"x":170,"y":440,"wires":[["8a42b87a.8adfd8"],["70bf0e2b.23f82"]]},{"id":"70bf0e2b.23f82","type":"function","z":"cf20e2de.a92f68","name":"BLE Split observations","func":"// send individual observation items to next node\nvar data = msg.payload.data;\n\nfor (i = 0; i < data.observations.length; i++) { \n    msg.payload = data.observations[i];\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["4901ac2f.beb524","cf5bf3bc.e41698"]]},{"id":"cf5bf3bc.e41698","type":"debug","z":"cf20e2de.a92f68","name":"BLE Device","active":true,"console":"false","complete":"true","x":610,"y":520,"wires":[]},{"id":"cd1f8c8a.cc5ce","type":"link out","z":"cf20e2de.a92f68","name":"WiFi Location API","links":["19826e8c.12cac9","ed2bc82d.2a41c8"],"x":555,"y":400,"wires":[]},{"id":"1be2f3a2.da02ec","type":"switch","z":"64b489a9.d87f58","name":"Search VIP Client- UPDATE","property":"payload.clientMac","propertyType":"msg","rules":[{"t":"cont","v":"74:da:38:56:0a:80","vt":"str"}],"checkall":"true","outputs":1,"x":420,"y":580,"wires":[["16dc3280.7c81e6"]]},{"id":"19826e8c.12cac9","type":"link in","z":"64b489a9.d87f58","name":"","links":["cd1f8c8a.cc5ce"],"x":255,"y":540,"wires":[["4d9f7d50.e4632c","1be2f3a2.da02ec"]]},{"id":"4d9f7d50.e4632c","type":"function","z":"64b489a9.d87f58","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nvar manufacturer = device.manufacturer || \"\"; // display manufacturer only if it is known\n\nmsg.payload = \"## WiFi Device Found! \\n\" +\n    \"####\"+ manufacturer + \"#### \\n\"+\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["c13441aa.c6fa18"]]},{"id":"71931cb3.da711c","type":"link in","z":"64b489a9.d87f58","name":"Cisco Spark","links":["8ab006ca.e075d","b2a4fd42.350ce","900a9bc5.1c83b8","37651561.7e052a","c13441aa.c6fa18","bb3f4bfb.301ba8"],"x":75,"y":140,"wires":[["14482890.621507"]]},{"id":"8ab006ca.e075d","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":575,"y":240,"wires":[]},{"id":"b2a4fd42.350ce","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":575,"y":320,"wires":[]},{"id":"900a9bc5.1c83b8","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":575,"y":400,"wires":[]},{"id":"37651561.7e052a","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":835,"y":480,"wires":[]},{"id":"c13441aa.c6fa18","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":835,"y":540,"wires":[]},{"id":"3b8e7716.37662","type":"comment","z":"64b489a9.d87f58","name":"Send Message to Cisco Spark Room","info":"","x":170,"y":620,"wires":[]},{"id":"1cd451f0.d6ed96","type":"comment","z":"64b489a9.d87f58","name":"BLE","info":"","x":170,"y":480,"wires":[]},{"id":"4d67706d.786da8","type":"comment","z":"64b489a9.d87f58","name":"WiFi","info":"","x":170,"y":540,"wires":[]},{"id":"39f0c9cc.ff896e","type":"function","z":"64b489a9.d87f58","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nmsg.payload = \"## BLE Device Found! \\n\" +\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["37651561.7e052a"]]},{"id":"16dc3280.7c81e6","type":"function","z":"64b489a9.d87f58","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nvar manufacturer = device.manufacturer || \"\"; // display manufacturer only if it is known\n\nmsg.payload = \"## VIP WiFi Device Found! \\n\" +\n    \"####\"+ manufacturer + \"#### \\n\"+\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["bb3f4bfb.301ba8"]]},{"id":"bb3f4bfb.301ba8","type":"link out","z":"64b489a9.d87f58","name":"","links":["71931cb3.da711c"],"x":835,"y":580,"wires":[]},{"id":"e4e385da.13ffc8","type":"debug","z":"64b489a9.d87f58","name":"Admin Data","active":true,"console":"false","complete":"payload","x":390,"y":440,"wires":[]},{"id":"27cb8ceb.a5971c","type":"comment","z":"64b489a9.d87f58","name":"Send Message to Cisco Spark Room","info":"","x":170,"y":100,"wires":[]},{"id":"14c91f0f.931331","type":"worldmap","z":"cf20e2de.a92f68","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","panit":"false","x":630,"y":700,"wires":[]},{"id":"a37dfefe.eb8c8","type":"function","z":"cf20e2de.a92f68","name":"format data","func":"var data = msg;\nmsg = {};\nmsg.payload = {};\nmsg.payload.name = data.payload.clientMac;\nmsg.payload.lat = data.payload.location.lat;\nmsg.payload.lon = data.payload.location.lng;\nmsg.payload.ipv4 = data.payload.ipv4;\nmsg.payload.ssid = data.payload.ssid;\nmsg.payload.os = data.payload.os;\nmsg.payload.rssi = data.payload.rssi;\nmsg.payload.manufacturer = data.payload.manufacturer;\nmsg.payload.type = data.type;\nmsg.payload.apMac = data.apMac;\nmsg.payload.layer = \"Meraki\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":210,"y":660,"wires":[["14c91f0f.931331","6e5119a.c35b5e8","e34d3166.da07e"]]},{"id":"6e5119a.c35b5e8","type":"debug","z":"cf20e2de.a92f68","name":"Formatted Data","active":true,"console":"false","complete":"payload","x":620,"y":660,"wires":[]},{"id":"e34d3166.da07e","type":"function","z":"cf20e2de.a92f68","name":"move and zoom","func":"msg.payload = { command:{layer:\"Meraki\",lat:msg.payload.lat,lon:msg.payload.lng,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":720,"wires":[["14c91f0f.931331"]]},{"id":"ed2bc82d.2a41c8","type":"link in","z":"cf20e2de.a92f68","name":"World Map","links":["4901ac2f.beb524","cd1f8c8a.cc5ce"],"x":55,"y":660,"wires":[["a37dfefe.eb8c8"]]},{"id":"1ac5320.b6f6f4e","type":"comment","z":"cf20e2de.a92f68","name":"Worldmap: Open browser to  yourserver:1880/worldmap","info":"","x":230,"y":620,"wires":[]}]